* {
    margin: 0;
}

body {
    height: 100vh;
}

#canvasDraw {
    background-color: purple;
    color: whitesmoke;
}

#hangMan {
    display: flex;
    justify-content: center;
    align-items: center;
}